<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
</head>
<body>
    <form action="/registrar" method="post">
        <div>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" required>
        </div>

        <div>
            <label for="apellido">Apellido</label>
            <input type="text" id="apellido" name="apellido" required>
        </div>
        <div>
            <label for="cedula">Cedula</label>
            <input type="text" id="cedula" name="cedula" required>
        </div>
        <div>
            <label for="correo">Correo</label>
            <input type="text" id="correo" name="correo" required>
        </div>

        <input type="submit" value="Aceptar">
    </form>
</body>
</html>